{
  "extends": "airbnb-base",
  "rules": {
    "prefer-destructuring":"off",
    "no-param-reassign":"off",
    "prefer-template": "off",
    "object-shorthand": "off",
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "ignore",
      "imports": "ignore",
      "exports": "ignore",
      "functions": "ignore"
    }],
    "no-underscore-dangle": "off",
    "prefer-const": "off",
    "max-len": ["error", { "code": 120 }],
    "class-methods-use-this": "off",
    "padded-blocks": "off",
    "no-console":0,
    "no-useless-concat": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 1 }]
  }
}
